.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 380px;
  text-align: center;
}

.form input {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bgSoft);
  color: var(--text);
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
